body {
    font-family: 'Inter', sans-serif;
    font-size: var(--text-font-size);
    background: #C2CDD6;
}

header {
    background: #232C33;
    text-align: center;
    padding: var(--standart-padding);
}

nav {
    background: #4A5E6D;
    padding: var(--standart-padding);
}

article {
    padding: var(--standart-padding);
}

section {
    padding: var(--standart-padding);
}

footer {
    background-color: rgb(3, 13, 59);
    text-align: center;
    color: var(--text-color-light);
    padding: var(--standart-padding);
}

a {
    color: white;
}

a:hover {
    color: rgb(19, 19, 19);
}

h1 {
    text-align: center;
    font-size: var(--title-font-size);
}

h2 {
    color: #FF570A;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-content {
    position: sticky;
    top: 50px;
}

.nav li {
    padding: 5px;
}